body {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  max-width: 960px;
}

nav ul {
  border: 1px solid #000;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  border: 2px solid rgb(96, 139, 168);
  border-radius: 5px;
  background-color: rgba(96, 139, 168, 0.2);
  display: block;
  padding: 10px;
  margin: 10px;
}

/* oplossing */

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#nav1 ul {
  justify-content: space-evenly;
}

#nav2 ul li {
  flex: 1 1 auto;
}

#nav3 ul li {
  flex: 1 1 0;
}

#nav4 ul li:nth-child(3) {
  margin-right: auto;
}